{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  {% include 'comunes/_mensajes.html.twig' %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      Mis Plantas
    </h6>
      
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Especie</th>
      <th scope="col">Origen</th>
      <th scope="col">Usos</th>
      <th scope="col">Herbolario con mejor precio</th>
    </tr>
  </thead>
  <tbody>
  {% set i=0 %}
  {% for planta in pagination %}
    <tr>
      <td> {{planta[i].nombre}}</td>
      <td> {{planta[i].especie}}</td>
      <td> {{planta[i].lugar}}</td>
      <td> 
          <ul>
            {% set j=0 %}
            {% for uso in planta[i].uso %}
                <li>{{ uso[j] }}</li>  {
             {% set j=j+1 %}   
            {% endfor %}
          </ul>
      </td>
      <td> {#{{herbolarios[i]}}#}</td> {#requiere el metodo__Tostring porque es el objeto directo, no una prop#}
    </tr>
    {% set i=i+1 %}
    {% else  %} 
       <p>No se encontraron Plantas</p>  
    {% endfor  %}
  </tbody>
</table>
      
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

      
  </div>

    <div class=" my-5 my-lg-2 d-flex justify-content-center">
        <a class="btn btn-primary mr-2 w-10 mb-3 mb-sm-0"  href="{{path('app_plantas_nueva')}}">
            Nueva
        </a>
    </div>


{% endblock %}

