{% extends 'base.html.twig' %}

{% block contenedor_principal %}
    {% include 'comunes/_mensajes.html.twig' %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% set contador=1 %}
  {% for uso in  usos  %}
    <tr>
      <th scope="row">{{contador}}</th>
      <td>{{uso.nombre}}</td>
      <td>
        <a href="{{path('app_usos_editar',{id:uso.id})}}" class="btn btn-link mg-3">
            <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>
        </a>
      </td>
      <td>
        <form method="post" action="{{path('app_usos_eliminar',{id:uso.id})}}" onsubmit="return confirm('Seguro desea borrar este elemento?');">
            <button class="btn btn-link mg-3">
                <span class="oi oi-delete" title="Eliminar" aria-hidden="true"></span>
            </button>
        </form>
      </td>
    </tr>
   {% set contador=contador+1 %}
  {% endfor %}
  </tbody>
</table>

    <div class="d-md-flex my-2 my-lg-0 justify-content-center">
        <a class="btn btn-primary  mr-2 w-10 mb-3 mb-sm-0" title="Gestión de usos" href="{{path('app_nuevo_usos')}}">
            Nuevo
        </a>
    </div>

{% endblock %}



